<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans-2.5.xsd">
    <bean id="myStudent" class="com.zht.hw4.beans.entity.Student">
        <property name="id" value="7"/>
        <property name="name" value="张三"/>
        <property name="gender" value="male"/>
        <property name="age" value="17"/>
        <property name="clazz" value="1705"/>
    </bean>
</beans>